<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="/">Article Archive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="/students">Студенты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="publicationsDropdown" role="button" data-toggle="dropdown">
                        Публикации
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('publications.articles_list') }}">Статьи</a>
                        <a class="dropdown-item" href="{{ url_for('publications.theses_list') }}">Тезисы</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-toggle="dropdown">
                        Мероприятия
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('events.conferences_list') }}">Конференции</a>
                        <a class="dropdown-item" href="{{ url_for('events.contests_list') }}">Конкурсы</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>