<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Модальное окно добавления студента -->
<div th:fragment="addStudentModal" class="modal fade" id="addStudentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Содержимое модального окна -->
        </div>
    </div>
</div>

<!-- Модальное окно подтверждения удаления -->
<div th:fragment="confirmDeleteModal" class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Содержимое модального окна -->
        </div>
    </div>
</div>
</body>
</html>